<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello you are at the polls index website</h1> -->

    {% extends 'base.html' %}


    
    {% block content %}

    <ul>
        

        {% for party in parties_var %}
        <li>Party: {{party.name}}, Votes: {{party.votes}}, 
            {% if party.votes >= 61 %}
            Winner
            {% else %}
            Loser
        </li>
        {% endif %}
        {% endfor %}

    </ul>

    {% endblock %}

<!-- </body>
</html> -->