html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*NavBar*/

nav {
    background-color: #F97300;
    font-size: 20px;

}

.main-nav {
    display: flex;
    font-family: railway;

}

.nav-push {
    margin-left: auto;
}

.main-nav li {
    padding: 25px;
   
}


/*Header*/

.header {
/*    display: flex;
    align-items: center;
    justify-content: center;*/
    background-color: lightblue;
    min-height: 93vh;
    padding-left: 20vw;
    padding-right: 30vw;
    padding-top: 25vh;
    font-family: railway;
    padding-bottom: 30px;
}

.center-button {
    background-color: #F97300;
    font-size: 25px;
    padding: 8px;
    border-radius: 15px;
    color: white;
}

.center-button:hover {
    color:white;
}

/*About Me*/

.about-header {
    padding-left: 45%; 
    color: #F97300; 
    font-size: 50px;
    padding-top: 40px;
    font-family: railway;    
}

.about-me {
    display: flex;
}

/*Portfolio*/

.portfolio-header {
    padding-left: 45%; 
    color: #F97300; 
    font-size: 50px;
    padding-top: 40px;
    font-family: railway;    
}

.portfolio-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box > img {
    width: 100%;
    height: 100%;
}

.box {
    background-color: #444;
    padding: 30px;
    margin: 20px;
}


