body, html {
	height: 100%;
}

body {
	background:	url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_506616358_327594.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.topbar {
	margin-left: 500px;
}

.navbar {
	z-index: -1;

}

.navbar-item {
	color: white;
}

