header {
	height: 50px;
	display: flex;
	background-color: black;
}

header img {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 0px;
}

li {
	display: inline;
	margin-right: 20px;
	margin: 20px;
	color: white;
	font-family: times new roman, serif;
	font-size: 20px; 
			
}

ul {
	position: absolute;
	right: 50px;
}

.captainamerica {
	background-image: url("https://i.pinimg.com/originals/3d/a9/d1/3da9d15058fc0e4e12e957dd48439d3a.jpg");
	height: 90vh;
	/*position: relative;*/
	margin-top: 0px;

}

.caption {
	color: yellow;
	font-family: times new roman, serif ;
	font-size: 100px;
	font-weight: bold;
	/*position: relative;*/
	height: 350px;
	text-align: center;
	margin-left: 20px;
	margin-top: 0px;
	padding-top:300px;
	padding-left: 100px;

}

.text {
	color: yellow;
	font-family: 'tangerine';
	font-size: 30px;
	position: relative;
	height: 450px;
	margin-left: 20px;
	text-align: bottom;
	padding-left: 100px;
	padding-right: 100px;

}

footer {
	font-size: 30px;
}
